@page
@model AccessDeniedModel
@{
    ViewData["Title"] = "Odmowa dostêpu";
}

<header>
    <h1 class="text-danger">@ViewData["Title"]</h1>
    <p class="text-danger">Nie masz dostêpu do tych zasobów.</p>
</header>
