@page
@model ConfirmEmailModel
@{
    ViewData["Title"] = "Potwierdzenie adresu email";
}

<h2>@ViewData["Title"]</h2>
<div>
    <p>
        Dziêkujemy za potwierdzenie adresu e-mail.
    </p>
</div>
