@page
@model ForgotPasswordConfirmation
@{
    ViewData["Title"] = "Potwierdzenie wysłania maila z nowym hasłem";
}

<h2>@ViewData["Title"]</h2>
<p>
    Sprawdź swój adres e-mail, aby zresetować hasło.
</p>
