@page
@model ResetPasswordConfirmationModel
@{
    ViewData["Title"] = "Potwierdzenie zresetowania hasła";
}

<h2>@ViewData["Title"]</h2>
<p>
    Twoje hasło zostało zresetowane. Proszę <a asp-page="./Login">kliknąć tutaj</a>, aby się zalogować.
</p>
