@page "{id:int}"
@model InvoiceManager.Pages.Invoices.EditModel

@{
    ViewData["Title"] = "Edycja faktury";
}

    <h2>Edycja faktury</h2>

<h4>Faktura</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form method="post">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="Invoice.InvoiceId" />
            <div class="form-group">
                <label asp-for="Invoice.CompanyName" class="control-label"></label>
                <input asp-for="Invoice.CompanyName" class="form-control" />
                <span asp-validation-for="Invoice.CompanyName" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Invoice.IssueDate" class="control-label"></label>
                <input asp-for="Invoice.IssueDate" class="form-control" />
                <span asp-validation-for="Invoice.IssueDate" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Invoice.Amount" class="control-label"></label>
                <input asp-for="Invoice.Amount" class="form-control" />
                <span asp-validation-for="Invoice.Amount" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Invoice.DueDate" class="control-label"></label>
                <input asp-for="Invoice.DueDate" class="form-control" />
                <span asp-validation-for="Invoice.DueDate" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Zapisz zmiany" class="btn btn-default" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-page="./Index">Wróć do listy</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync($"_ValidationScriptsPartial");}
}
