@page
@model AboutModel
@{
    ViewData["Title"] = "O aplikacji";
}
<h2>@ViewData["Title"]</h2>

<p>Ta aplikacja została stworzona w celu ułatwienia życia księgowych i przedsiębiorców, których przytłacza ilość wystawianych faktur. Mamy nadzieję, że z nami prowadzenie własnej działalności stanie się dużo przyjemniejsze!</p>
