@page
@model ContactModel
@{
    ViewData["Title"] = "Kontakt";
}
<h2>@ViewData["Title"]</h2>

<address>
    Konrad Niedźwiedzki<br />
    Możesz znaleźć mnie na: <a href="https://www.linkedin.com/in/konrad-niedzwiedzki/">LinkedIn</a><br />
    Mam też swoją stronę internetową: <a href="http://niedzwiedzki.net/">niedzwiedzki.net</a><br />
</address>