@page
@model ErrorModel
@{
    ViewData["Title"] = Resources.ApplicationTexts.ErrorPageTitle;
}

    <h1 class="text-danger">@Resources.ApplicationTexts.ErrorPageHeader</h1>
<h2 class="text-danger">@Resources.ApplicationTexts.ErrorWhenProcessingRequest</h2>

@if (Model.ShowRequestId)
{
    <p>
        @string.Format(Resources.ApplicationTexts.RequestId, Model.RequestId)
    </p>
}
