@page
@model IndexModel
@{
    ViewData["Title"] = "Strona główna";
}

<div id="myCarousel" class="carousel slide" data-ride="carousel" data-interval="6000">
    Witamy w naszym InvoiceManager! :) Tu będzie kiedyś super zajebista strona tytułowa. :D
</div>

<div class="row">

</div>
