@page
@model IndexModel
@{
    ViewData["Title"] = Resources.ApplicationTexts.MainPageTitle;
}

<div id="myCarousel" class="carousel slide" data-ride="carousel" data-interval="6000">
    @Resources.ApplicationTexts.WelcomePageText
</div>

<div class="row">

</div>
