@page
@model Disable2faModel
@{
    ViewData["Title"] = Resources.ApplicationTexts.Disable2FA;
    ViewData["ActivePage"] = Resources.ApplicationTexts.TwoFactorAuthentication;
}

<h2>@ViewData["Title"]</h2>

<div class="alert alert-warning" role="alert">
    <p>
        <span class="glyphicon glyphicon-warning-sign"></span>
        <strong>@Resources.ApplicationTexts.About2FADisablingTitle</strong>
    </p>
    <p>
        @Resources.ApplicationTexts.About2FADisabling
    </p>
</div>

<div>
    <form method="post" class="form-group">
        <button class="btn btn-danger" type="submit">@Resources.ApplicationTexts.Disable2FAButton</button>
    </form>
</div>
