@page
@model GenerateRecoveryCodesModel
@{
    ViewData["Title"] = Resources.ApplicationTexts.GeneratingTwoFactorAuthenticationRecoveryCodes;
    ViewData["ActivePage"] = Resources.ApplicationTexts.TwoFactorAuthentication;
}

<h4>@ViewData["Title"]</h4>
<div class="alert alert-warning" role="alert">
    <p>
        <span class="glyphicon glyphicon-warning-sign"></span>
        <strong>@Resources.ApplicationTexts.GeneretingCodesTitle</strong>
    </p>
    <p>
        Jeśli zgubisz urządzenie i nie masz kodów odzyskiwania, utracisz dostęp do swojego konta.
    </p>
    <p>
        Generowanie nowych kodów odzyskiwania nie zmienia kluczy używanych w aplikacjach uwierzytelniających. Jeśli chcesz zmienić klucz
        używany w aplikacji uwierzytelniającej, którą powinieneś <a asp-action="ResetAuthenticatorWarning">zresetować klucze uwierzytelniające</a>.
    </p>
</div>

<div>
    <form asp-action="GenerateRecoveryCodes" method="post" class="form-group">
        <button class="btn btn-danger" type="submit">@Resources.ApplicationTexts.GenerateCodesButton</button>
    </form>
</div>
